<p id="notice"><%= notice %></p>

<h1>School Admin Page</h1>


<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">

<h2>Authorized Carpool Users</h2>

<p>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" >
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
    </tr>
    <% @carpools.each do |carpool| %>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <%= link_to carpool.name, edit_user_path(carpool) %>
        </td>
      <% end %>
    </tr>
  </table>
</p>

<p>
  <%= link_to 'New Carpool User', new_user_path %>
</p>
<br>

<p>
  <h2>All Teachers</h2>
</p>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" >
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th class="mdl-data-table__cell--non-numeric">Grade</th>
      <th colspan="2"></th>
    </tr>
    <% @teachers.each do |teacher| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to teacher.name, teacher %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= teacher.grade %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Delete', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>
</div>

<div class="mdl-cell mdl-cell--6-col">


<h2>All Students</h2>

<p>
  <%= link_to 'Add A New Student', new_student_path %>
</p>

<p>
  <%= form_tag import_students_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag("Import", :id=>"button", :class=>"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent") %>
  <% end %>
</p>




<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" >
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th colspan="2"></th>
    </tr>
    <% @students.each do |student| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to student.name, student %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Edit', edit_student_path(student) %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>



</div>
</div>
