<p id="notice"><%= notice %></p>

<%= image_tag @student.pic %>

<h1><%= @student.name %></h1>

<br>

<% @student.users.each do |user| %>
  <%= link_to user.name, user %>
<% end %>

<br>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
