<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :first_name, class: "mdl-textfield__label" %>
    <%= f.text_field :first_name, class: "mdl-textfield__input" %>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :last_name, class: "mdl-textfield__label" %>
    <%= f.text_field :last_name, class: "mdl-textfield__input" %>
  </div>
  <% if current_user.admin? %>
  <div class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
    <%= f.label 'Grant Carpool Account', class: "mdl-checkbox__label" %>
    <%= f.check_box :carpool, class: "mdl-checkbox__input", checked: true %>
  </div>
  <% else %>
  <% end %>
  <br>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :email, class: "mdl-textfield__label" %>
    <%= f.text_field :email, class: "mdl-textfield__input" %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :password, class: "mdl-textfield__label" %>
    <%= f.text_field :password, class: "mdl-textfield__input" %>
  </div>

  <% if current_user.god_mode? %>
  <div class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
    <%= f.label :god_mode, class: "mdl-checkbox__label" %>
    <%= f.check_box :god_mode, class: "mdl-checkbox__input" %>
  </div>
  <% else %>
  <% end %>
  <br>
  <% unless current_user.admin? %>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :phone, class: "mdl-textfield__label" %>
    <%= f.text_field :phone, class: "mdl-textfield__input" %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit class: "mdl-button mdl-js-button mdl-button--raised" %>
  </div>
</form>

<% end %>
