<h1>Edit info for <%= @user.name.titleize %></h1>

<%= render 'form' %>


<div class="students">

<h2>Students:</h2>

<% if @user.students.nil? %>
  <h3>You have not input student information. Please do so here.</h3>
<% else %>
<div class= "mdl-grid">
  <% @user.students.each do |student| %>
    <div class="mdl-card mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-shadow--4dp">
      <div class="mdl-card__media">
        <%= image_tag student.pic %>
      </div>
      <div class="mdl-card__title">
        <div class="mdl-card__title-text"><%= student.name %></div>
      </div>
    </div>
  <% end %>
<% end %>


  <div class="mdl-card mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-shadow--4dp" >
    <div class="add mdl-card__media">
      <%= image_tag "plus.png", data:{toggle:"modal", target:"#myModal"} %>
    </div>
    <div class="mdl-card__title">
      <div class="mdl-card__title-text">Add Student</div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModal">Add a Student</h4>
        </div>
        <div class="modal-body">
          <%= render 'student' %>
        </div>
      </div>
    </div>
  </div>

</div>



</div>
