<h1>Edit info for <%= @user.name.titleize %></h1>

<%= render 'form' %>

<%= render 'student' %>

<div class="students">

<h2>Students:</h2>

<% if @user.students.nil? %>
  <h3>You have not input student information. Please do so here.</h3>
<% else %>
<div class= "mdl-grid">
  <% @user.students.each do |student| %>
    <div class="mdl-card mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-shadow--4dp">
      <div class="mdl-card__media">
        <%= image_tag student.pic %>
      </div>
      <div class="mdl-card__title">
        <div class="mdl-card__title-text"><%= student.name %></div>
      </div>
    </div>
  <% end %>
<% end %>
  <div class="mdl-card mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-shadow--4dp">
    <div class="add mdl-card__media">
      <%= image_tag "plus.png" %>
    </div>
    <div class="mdl-card__title">
      <div class="mdl-card__title-text">Add Student</div>
    </div>
  </div>

</div>



</div>
