<p id="notice"><%= notice %></p>

<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<h2>Students:</h2>

  <% @user.students.each do |student| %>
    <h3><%= student.first_name %> <%= student.last_name %></h3>
    <%= link_to image_tag(student.pic), student %>
  <% end %>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
