<p id="notice"><%= notice %></p>

<h1><%= @teacher.name %> - <%= @teacher.grade %></h1>

<h2>Students:</h2>
<p>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" >
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
    </tr>
    <% @students.each do |student| %>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <%= link_to student.name, student %>
        </td>
      <% end %>
    </tr>
  </table>
</p>



<%= link_to 'Edit ' "#{@teacher.name}", edit_teacher_path(@teacher) %> |
<%= link_to 'Back', root_path %>
